---
layout: default
---
<!DOCTYPE html>
<html>
<head>
<style>
html{
    border-style:solid;
    border-width:5%;
    border-color:black;
    width: 90%;
    height:90%;
    
}
img {
    float: center;
    margin: 0 0 0px 0px;
}
</style>
</head>
<div class="container">
<div class="header">
    <img src="/assets/img/mrclamator.png" width="60" height="60" align="center" />
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    
    <h1>Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
<!--
<div class="music">
    <h1>Now Playing:</h1>
    <a href="http://www.last.fm/user/getmicah"><span id="nowPlaying"></span></a>
</div>
<script src="/assets/js/main.js"></script>
-->
</html>
